
<%@ page import="com.billing.domain.Customer" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'customer.label', default: 'Customer')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-customer" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-customer" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list customer">
			
				<g:if test="${customerInstance?.address2}">
				<li class="fieldcontain">
					<span id="address2-label" class="property-label"><g:message code="customer.address2.label" default="Address2" /></span>
					
						<span class="property-value" aria-labelledby="address2-label"><g:fieldValue bean="${customerInstance}" field="address2"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.officeNumber}">
				<li class="fieldcontain">
					<span id="officeNumber-label" class="property-label"><g:message code="customer.officeNumber.label" default="Office Number" /></span>
					
						<span class="property-value" aria-labelledby="officeNumber-label"><g:fieldValue bean="${customerInstance}" field="officeNumber"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.mobileNumber}">
				<li class="fieldcontain">
					<span id="mobileNumber-label" class="property-label"><g:message code="customer.mobileNumber.label" default="Mobile Number" /></span>
					
						<span class="property-value" aria-labelledby="mobileNumber-label"><g:fieldValue bean="${customerInstance}" field="mobileNumber"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.address1}">
				<li class="fieldcontain">
					<span id="address1-label" class="property-label"><g:message code="customer.address1.label" default="Address1" /></span>
					
						<span class="property-value" aria-labelledby="address1-label"><g:fieldValue bean="${customerInstance}" field="address1"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.city}">
				<li class="fieldcontain">
					<span id="city-label" class="property-label"><g:message code="customer.city.label" default="City" /></span>
					
						<span class="property-value" aria-labelledby="city-label"><g:fieldValue bean="${customerInstance}" field="city"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.customerName}">
				<li class="fieldcontain">
					<span id="customerName-label" class="property-label"><g:message code="customer.customerName.label" default="Customer Name" /></span>
					
						<span class="property-value" aria-labelledby="customerName-label"><g:fieldValue bean="${customerInstance}" field="customerName"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.dateCreated}">
				<li class="fieldcontain">
					<span id="dateCreated-label" class="property-label"><g:message code="customer.dateCreated.label" default="Date Created" /></span>
					
						<span class="property-value" aria-labelledby="dateCreated-label"><g:formatDate date="${customerInstance?.dateCreated}" /></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.lastUpdated}">
				<li class="fieldcontain">
					<span id="lastUpdated-label" class="property-label"><g:message code="customer.lastUpdated.label" default="Last Updated" /></span>
					
						<span class="property-value" aria-labelledby="lastUpdated-label"><g:formatDate date="${customerInstance?.lastUpdated}" /></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.state}">
				<li class="fieldcontain">
					<span id="state-label" class="property-label"><g:message code="customer.state.label" default="State" /></span>
					
						<span class="property-value" aria-labelledby="state-label"><g:fieldValue bean="${customerInstance}" field="state"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${customerInstance?.user}">
				<li class="fieldcontain">
					<span id="user-label" class="property-label"><g:message code="customer.user.label" default="User" /></span>
					
						<span class="property-value" aria-labelledby="user-label"><g:link controller="user" action="show" id="${customerInstance?.user?.id}">${customerInstance?.user?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form>
				<fieldset class="buttons">
					<g:hiddenField name="id" value="${customerInstance?.id}" />
					<g:link class="edit" action="edit" id="${customerInstance?.id}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
