<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><g:layoutTitle default="Grails"/></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="${resource(dir: 'css', file: 'bootstrap.min.css')}" rel="stylesheet" type="text/css" />
		<link href="${resource(dir: 'css', file: 'bootstrap-responsive.min.css')}" rel="stylesheet" type="text/css" />
		<link href="${resource(dir: 'css', file: 'billastick-login.css')}" rel="stylesheet" type="text/css" />
		
		
		 <script type='text/javascript' src='${resource(dir: 'js', file: 'jquery.min.js')}'></script>
		 <script type='text/javascript' src='${resource(dir: 'js', file: 'bootstrap.min.js')}'></script>
		 <script type='text/javascript' src='${resource(dir: 'js', file: 'billastick.login.js')}'></script>
		 <script type='text/javascript' src='${resource(dir: 'js', file: 'jquery.validate.js')}'></script>
		<g:layoutHead/>
		<r:layoutResources />
	</head>
	<body>
	
		<%--<div id="logo">
            <img src="${resource(dir: 'img', file: 'login-logo.png')}" alt="" />
        </div>
		
		--%>
		<br><br><br><br><br><br><br><br>
		<div id="loginbox">
			<g:layoutBody/>  
		</div>
	</body>
</html>
