.es-carousel-wrapper{
	padding:10px 35px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	background:url(../../images/landing/zoom.png) no-repeat center center;
border-radius:3px;
overflow:hidden;
}
.es-carousel ul li a{
	display:block;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}

.es-carousel ul li a:hover{
}

.es-nav span{
	position:absolute;
	top:50%;
	left:0px;
	background:transparent url(../../images/landing/nav.png) no-repeat top left;
	width:13px;
	height:25px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
}
.es-nav span.es-nav-next{
	right:0px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
}