/*
THEME NAME: Multiplus
THEME URI: http://counterpart.x10.mx/html/multiplus
DESCRIPTION: Multiplus - Responsive Landing page Template
VERSION: 1.0
AUTHOR: <a href="http://www.wordpresstoblogger.info">Dilip Kumar</a>
AUTHOR URI: http://www.wordpresstoblogger.info
*/

/*-----------------------------------------------------------------------------------*/
/* GLOBAL CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

body {
	font-family: 'Arial', sans-serif;
	font-size:12px;
	color:#939393;
	line-height:20px;
	background:#fff;
}

a:link,a:visited,a:active {
	color:#5a96fa;
	outline: 0;
	text-decoration:none;
}

a:hover {color:#fff;}


h1, h2, h3, h4, h5, h6 {
	color:#555;
	font-weight:700;
	font-family: 'Open Sans', sans-serif;
}

h1 {font-size:38px;}
h2 {font-size:32px;}
h3 {font-size:24px;}
h4 {font-size:18px;}
h5 {font-size:16px;}
h6 {font-size:12px;}
p {line-height:1.6em;font-size:13px;}
.align-right { float:right; margin: 0 0 5px 15px; }
.align-left { float:left; margin: 0 15px 5px 0; }

/*-----------------------------------------------------------------------------------*/
/* TOPBAR CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

div.topbar {
	background:#5a96fa;
	z-index: 555;
	display: none;
	line-height:20px;
}

div.topbar a {font-weight:bold;}

a.topbar-btn{
	background-image: url(../../images/landing/controls.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 40px;
	height: 51px;
	float:right;
	position:relative;
	z-index:11;
	margin-top:0px;
}

a.topbar-btn.active {
	background-image: url(../../images/landing/controls.png);
	background-repeat: no-repeat;
	background-position: -40px 0px;
	width: 40px;
	height: 51px;
}

/*-----------------------------------------------------------------------------------*/
/* HEADER CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

#topline {
	height:2px;
	background:#5a96fa;
}

#header {}

.header-wrap {overflow:visible;}

.logo {margin-bottom:15px;}

.logo h1, .logo h1 a{
	color:#202020;
	font-size:25px;
}

.tagline {float:left;padding:10px;}

.tagline p{font-size:12px;color:#bbb;}


/*-----------------------------------------------------------------------------------*/
/* HEADER SOCIAL CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

ul.social-networks {
	list-style:none;
	overflow:hidden;
	margin-top:10px;
	float:right;
}

ul.social-networks li {
	float:left;
	border:none;
}

.icon-twitter a,
.icon-facebook a,
.icon-dribbble a,
.icon-skype a,
.icon-forrst a,
.icon-rss a {
	float:left;
	background:url(../../images/landing/social-sprite.png) no-repeat left bottom;
	text-indent:8000px;
	width:30px;
	height:33px;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
	margin-top:3px;
}

.icon-twitter a:hover,
.icon-facebook a:hover,
.icon-dribbble a:hover,
.icon-skype a:hover,
.icon-forrst a:hover,
.icon-rss a:hover{
	background:url(../../images/landing/social-sprite.png) no-repeat left top;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
}

.icon-twitter, .icon-twitter a {
	background-position:-0px bottom
}
.icon-twitter a:hover {
	background-position:-0px top;
}

.icon-facebook, .icon-facebook a {
	background-position:-30px bottom
}
.icon-facebook a:hover {
	background-position:-30px top;
}

.icon-dribbble, .icon-dribbble a {
	background-position:-60px bottom
}
.icon-dribbble a:hover {
	background-position:-60px top;
}

.icon-skype, .icon-skype a {
	background-position:-90px bottom
}
.icon-skype a:hover {
	background-position:-90px top;
}

.icon-forrst, .icon-forrst a {
	background-position:-120px bottom
}
.icon-forrst a:hover {
	background-position:-120px top;
}

.icon-rss, .icon-rss a {
	background-position:-150px bottom
}
.icon-rss a:hover {
	background-position:-150px top;
}

/*-----------------------------------------------------------------------------------*/
/* LOGIN / REGISTER CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

.topwrap {
	width:200px;
	float:right;
}

.login a {
	width:80px;
	padding:7px 10px;
	background:#fff;
	float:right;
	color:#666;
	font-weight:bold;
	font-size:12px;
	text-align:center;	
	border-bottom:1px solid #d5d5d5;
}

.register a{
	width:90px;
	padding:7px 10px;
	background:#fff;
	float:right;
	color:#666;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	border:1px solid #d5d5d5;
	border-top:0px;
}

.login a:hover, .register a:hover  {color:#000;}
.login-ico, .register-ico {padding-right:5px;}

/*-----------------------------------------------------------------------------------*/
/* SLIDER CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

.slider {
	margin-bottom:80px;
	overflow:hidden;
	background:url(../../images/landing/slider_bg.jpg) no-repeat center;
}

.flex-direction-nav a {top: 42%;}

.slider_shadow {
	height:82px;
	background:url(../../images/landing/slider_shadow.png) no-repeat top center;
	position:absolute;
	left:0px;
	right:0px;
	z-index:11;
}

.rsp-caption {width:90%;}

.rsp-caption h2 {
	text-transform: none;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	line-height:30px;
	font-size:20px;
}

.rsp-caption p {
	padding:15px 0 30px 0;
	color:#000;
	font-family: 'Arial', sans-serif;
	font-weight:100;
	line-height:22px;
	font-size:14px;
}

.rsp-caption h2{font-size: 190%;margin-top:30%;}

/*-----------------------------------------------------------------------------------*/
/* WELCOME CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

.welcome, .wrap2 {}

.welcome-content, .wrap2-content {text-align:center;}

.welcome-content h1, .wrap2-content h1 {
	line-height:35px;
	font-weight:600;
	font-size:25px;
	color:#222;
}

.welcome-content h1 span {color:#5a96fa;}

.welcome-content p, .wrap2-content p {
	font-size:17px;
	color:#999;
	margin-top:-3px;
}

.buynow:hover , .trial:hover {cursor:pointer;}
.buynow {text-align:right;padding:0px;}
.trial {text-align:left;padding:0px;}

.or {
	text-align:left;
	background:#fff;
	color:#000;
	z-index:11;
	position:absolute;
	right:-15px;
	top:13px;
	padding:5px 8px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border:2px solid #fff;
}

.app-mobile {width:196px;margin: 0 auto;display:none;}
.buynow-small {float:left;padding:0px;}
.trial-small {padding:0px;}

.or-small {
	text-align:left;
	background:#fff;
	color:#000;
	z-index:11;
	position:absolute;
	right:0px;
	left:0px;
	top:13px;
	padding:5px 8px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border:2px solid #fff;
	width:34px;
	margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/* EXTRAS STYLES
/*-----------------------------------------------------------------------------------*/

.space10 {height:10px;}
.space20 {height:20px;}
.space30 {height:30px;}
.space40 {height:40px;}
.space50 {height:50px;}
.space60 {height:60px;}
.space70 {height:70px;}
.space80 {height:80px;}
.space90 {height:80px;}

.line {
	height:3px;
	width:70px;
	background-color:#5a96fa;
	margin: -2px 0 0;
}

.wrap {position: relative;}

.wrap h4{
	text-transform:uppercase;
	color:#000;
	padding-bottom:15px;
	font-size:13px;
	border-bottom:1px solid #d5d5d5;
	font-weight:bold;
	text-align:center;
	margin-bottom:0px;
}

.video-wrap {padding:0px;}
.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video iframe,
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bubble-white {
	background:url(../../images/landing/bubble.png) no-repeat center;
	height:10px;
	position:relative;
	top:-1px;
}

.clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
}

/*-----------------------------------------------------------------------------------*/
/* FEATURES CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

#features-wrap {overflow: hidden;}

.features-content{
	padding:30px 5px;
	text-align:center;
}

.features-content:hover{cursor:pointer;}

.features-icon{
	position: relative;
	font-size:28px;
	color:#656565;
	text-align:center;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
	padding:5px 0;
	display:inline-block;
}

.features-content:hover h6{
	color:#5a96fa;
}

.features-content:hover .features-icon{
	color:#5a96fa;
}

.features-content h6{
	font-size:16px;
	letter-spacing:-1px;
	font-weight:700;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
}

.features-description {
	font-weight:400;
	line-height:20px;
}

.features-description p {
	padding:10px 0 0;
	font-size:12px;
}

/*-----------------------------------------------------------------------------------*/
/* CLIENT WRAP CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

.clients {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 0 0 50px 0;
}

.clients img {
	opacity:0.6;
	filter: alpha(opacity = 60);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	-webkit-transition:all 0.5s ease-in-out;  
	-moz-transition:all 0.5s ease-in-out;  
	-o-transition:all 0.5s ease-in-out;  
	transition:all 0.5s ease-in-out; 
}

.clients img:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
	opacity:1;
	cursor:pointer;
}

/*-----------------------------------------------------------------------------------*/
/* BUTTONS STYLES
/*-----------------------------------------------------------------------------------*/

.button-black a {
	border-top: 1px solid #000;
	border-bottom:none;
	background: #404040;
	padding: 8px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	font-family:Helvetica,Arial;
	font-weight:700;
	display:inline-block;
	margin: 0 auto;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
}

.button-black a:hover {
	background: #5a96fa;
	border-top: 1px solid #75a7fb;
}

/*-----------------------------------------------------------------------------------*/
/* CONTACT FORM CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

.map-placeholder {margin-bottom:-5px;}

#contact-wrap {
	background:#fff;
	position:absolute;
	left:0px;
	right:0px;
	bottom:50px;
	padding:20px 40px 35px 30px;
	margin: 0 auto;
	box-shadow: 0 0 8px #aaa;
	-moz-box-shadow: 0 0 8px #aaa;
	-webkit-box-shadow: 0 0 8px #aaa;
}

#contactForm {
	width: 100%;
	height: auto;
	padding: 0;
}

#contactForm.positioned {}

.statusMessage, .successmessage, .errormessage {
	display: none;
	margin: auto;
	width: 100%;
	height: auto;
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background:#fff;
	margin: 0 auto;
	box-shadow: 0 0 8px #aaa;
	-moz-box-shadow: 0 0 8px #aaa;
	-webkit-box-shadow: 0 0 8px #aaa;
}

.success-ico, .error-ico {
	padding-top:0px;
}

.statusMessage p {
	margin: 0;
	padding:20px;
	color:#000;
}

.successmessage p {
	margin: 0;
	padding:20px;
	color:#000;
}

.success-ico {
	color:#00b034;
	font-size:25px;
	float:left;
	padding-right:10px;
}

.error-ico {
	color:#ff0000;
	font-size:25px;
	float:left;
	padding-right:10px;
}

.errormessage p {
	margin: 0;
	padding:20px;
	color:#000;
}

#contactForm ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#contactForm ul li {
	margin: .9em 0 0 0;
	padding: 0;
}

#contactForm input, #contactForm label {line-height: 1em;}

label {
	display: block;
	clear: left;
	width: 100%;
	padding-bottom:15px !important;
	font-weight: 600;
	text-transform:uppercase;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	color:#000;
}

input, textarea {
	display: block;
	margin-bottom:20px;
	padding: 8px 5px;
	width: 100%;
	font-family: "Helvetica", serif;
	font-size: 13px;
	border: 1px solid #ddd;
	border-top:1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;    
	border-radius: 3px;
	-moz-box-shadow: rgba(0,0,0,.1) 0 1px 4px inset;
	-webkit-box-shadow: rgba(0,0,0,.1) 0 1px 4px inset;
	box-shadow: rgba(0,0,0,.1) 0 1px 4px inset;
	background: #fff;
	color:#a8a8a8;
}

textarea {
	height: 13em;
	line-height: 1.5em;
	resize: none;
}

#contactForm *:focus {
	border: 1px solid #bbb;
	outline: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

input:valid, textarea:valid {}

input[type="submit"] {
	float: left;
	margin: 5px 8px 0 0;
	width: 110px;
	padding: .5em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;  
	border-radius: 3px;
	color: #fff;
	background: #5A96FA;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	opacity: .7;
	filter: alpha(opacity = 70);
	-webkit-appearance: none;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
	border:0px;
}

input[type="submit"]:hover,
input[type="submit"]:active{
	cursor: pointer;
	opacity: 1;
}

input[type="submit"]:active {color: #333;background:#5A96FA;}

#contact-wrap {
	width:100%;
}

.success-ico, .error-ico {
	padding-top:0px;
}

/*-----------------------------------------------------------------------------------*/
/* FAQ TOGGLE CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

.toggle-wrap {padding:0px;}

#toggle-view {
	list-style:none;	
	font-family:arial;
	font-size:11px;
	margin:0;
	padding:0;
	width:100%;
}

#toggle-view li {
	margin:0px 10px 20px 10px;
	border:1px solid #ddd;
	border-bottom:1px solid #d5d5d5;
	position:relative;
	cursor:pointer;
}
	
#toggle-view h3 {
	margin:0;
	font-size:14px;
	padding:15px 10px;
	font-family:Arial;
}

#toggle-view span {
	position:absolute;
	right:0px; top:0px;
	color:#ccc;
	font-size:14px;
	background: url(../../images/landing/toggle_bg.png) no-repeat left;
	padding:12px 15px 12px 20px;
	font-weight:bold;
}
	
#toggle-view .panel {display:none;}

/*-----------------------------------------------------------------------------------*/
/* FOOTER CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

.footer {
	padding:40px 0;
	background:#242424;
}

.footer p {
	color:#747474;
}

.footer-widget {
	padding:15px 10px;
	font-size:12px !important;
}

.footer-widget h4{
	text-transform:uppercase;
	color:#fff;
	padding-bottom:15px;
	font-size:14px;
	border-bottom:1px solid #343434;
	font-weight:bold;
	margin-bottom:0px;
}

/*-----------------------------------------------------------------------------------*/
/* FOOTER - TWITTER STYLES
/*-----------------------------------------------------------------------------------*/

.tweet, .query {
	line-height: 1.5em;
}
  
.tweet .tweet_list,
.query .tweet_list {
	-webkit-border-radius: .5em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.tweet .tweet_list .awesome,
.tweet .tweet_list .epic,
.query .tweet_list .awesome,
.query .tweet_list .epic {
text-transform: uppercase; }

.tweet .tweet_list li,
.query .tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 5px 10px 19px;
	margin-bottom: 10px;
	background: url("../../images/landing/quotes-tweet.png") no-repeat 0px 6px transparent;
}

.tweet .tweet_list li:last-child,
.query .tweet_list li:last-child {
	border-bottom: none;
}

.tweet .tweet_list li a,
.query .tweet_list li a {
	text-decoration: none;
}

.tweet .tweet_list li a:hover,
.query .tweet_list li a:hover {
	border-bottom: 1px dotted #999;
}

.tweet .tweet_list .tweet_avatar,
.query .tweet_list .tweet_avatar {
	padding-right: .5em;
	float: left;
}

.tweet .tweet_list .tweet_avatar img,
.query .tweet_list .tweet_avatar img {
	vertical-align: middle;
}

.tweet .tweet_list .tweet_time a{
	font-size:12px;
}

.tweet .tweet_list .tweet_text{
	color: #747474;
	font-size:12px;
}

/*-----------------------------------------------------------------------------------*/
/* FOOTER - CONTACT STYLES
/*-----------------------------------------------------------------------------------*/

.footer-contact {
	padding:0;
	font-size:12px;
}

.footer-contact .email {
	padding-right:20px;
	margin-bottom:13px;
	color:#828282;
	padding-left:25px;
	font-size:12px !important;
}

.footer-contact .phoneno, 
.footer-contact .fax,
.footer-contact .address {
	padding-left:25px;
	margin-bottom:10px;
	color:#727272;
	font-size:12px !important;
}

span.ico {
	float:left;
	font-weight:none;
	font-size:13px;
	color:#727272;
}

/*-----------------------------------------------------------------------------------*/
/* FOOTER BOTTOM CONTENT STYLES
/*-----------------------------------------------------------------------------------*/

#footer-bottom {background:#242424;}

.footer-bottom {}

#footer-bottom-wrap {	border-top:1px solid #343434;}

#footer-bottom-wrap p {font-size:12px;padding:15px 0;}

#footer-bottom-wrap a:hover {color:#fff;}

.footer-social {text-align:right;}

/*-----------------------------------------------------------------------------------*/
/* BACK TO TOP BUTTON STYLES
/*-----------------------------------------------------------------------------------*/

#back-top {
	position: fixed;
	bottom: 30px;
	right:20px;
}

#back-top a {
	width: 60px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top a:hover {
	color: #000;
}

#back-top span {
	width: 60px;
	height: 60px;
	display: block;
	margin-bottom: 7px;
	background: url(../../images/landing/back-top.png) no-repeat center center;
	opacity:0.5;
	filter: alpha(opacity = 50);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top a:hover span {opacity:1;}


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {

 	  .buynow{text-align:right;}
        .trial{text-align:left;}
	  .flex-direction-nav a {top: 43.5%;}
	  .success-ico, .error-ico {padding-top:0px;}
	  .footer-social {text-align:right;}
	  #contact-wrap {width:95%;}
        #back-top, #back-top span {display:none;}
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {

	  .buynow, .trial, .social, .logo {text-align:center;}
        .logo {margin-bottom:0px;}
	  .flex-direction-nav a {top: 39%; }
	  .success-ico, .error-ico {padding-top:5px;}
	  #contact-wrap {width:85%;}
	  .rsp-caption {display:none;}
	  ul.social-networks {float:none;width:180px;margin: 0 auto 25px auto;}
	  .app-mobile {display: block;}
	  .buynow, .trial {display:none;}
	  .topwrap {width:105px;float:right;}
	  .login a {width:50px;	height:37px;overflow:hidden;padding-top:9px;}
	  .register a{width:50px;height:37px;overflow:hidden;padding-top:9px;}
	  .footer-social {text-align:center;padding-bottom:20px;}
	  .copyright{text-align:center;padding-bottom:10px;padding-top:20px;}
	  #footer-bottom-wrap p {font-size:12px;padding:0px}
        #back-top, #back-top span {display:none;}
   }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {

	  .buynow, .trial, .social, .logo {text-align:center;}
        .phonecontact {text-align:center;padding:0px 0 25px 0;}
	  .flex-direction-nav a {top: 42%;}
	  .success-ico, .error-ico {padding-top:5px;}
	  #contact-wrap {width:85%;}
        .rsp-caption {display:none;}
	  ul.social-networks {float:none;width:180px;margin: 0 auto 25px auto;}
        .copyright{text-align:center;padding-bottom:10px;padding-top:20px;}
	  .footer-social {text-align:center;padding-bottom:20px;}
	  #footer-bottom-wrap p {font-size:12px;padding:0px}
        #back-top, #back-top span {display:none;}
    }